<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Collage</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/collage.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/transitions.css') }}" media="all" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='css/bootstrap.css') }}" media="all" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://code.jboxcdn.com/0.3.2/jBox.min.js"></script>
    <link href="http://code.jboxcdn.com/0.3.2/jBox.css" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.collagePlus.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.removeWhitespace.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.collageCaption.js') }}"></script>
  
    <script type="text/javascript">

    // All images need to be loaded for this plugin to work so
    // we end up waiting for the whole window to load in this example
    $(window).load(function () {
        $(document).ready(function(){
            collage();
            $('.Collage').collageCaption();
        });
    });


    // Here we apply the actual CollagePlus plugin
    function collage() {
        $('.Collage').removeWhitespace().collagePlus(
            {
                'fadeSpeed'     : 2000,
                'targetHeight'  : 200,
                'effect'        : 'effect-2',
                'direction'     : 'vertical',
                'allowPartialLastRow':true
            }
        );
    };

    // This is just for the case that the browser window is resized
    var resizeTimer = null;
    $(window).bind('resize', function() {
        // hide all the images until we resize them
        $('.Collage .Image_Wrapper').css("opacity", 0);
        // set a timer to re-apply the plugin
        if (resizeTimer) clearTimeout(resizeTimer);
        resizeTimer = setTimeout(collage, 200);
    });

    </script>
</head>
<body>
<section class="Collage effect-parent">

    <!--Change urls to instagram-->
    {% for post in photos_display %}
    <div class="Image_Wrapper" data-caption="Interested? Click here!"><a>
     <a href="#popup" class="portfolio-link" data-toggle="modal">
     <img src="{{post.standard_resolution.url}}"></a>
     <</div>
    </a>
    {% endfor %}

</section>

<!-- The modal pop up -->
  <div class="portfolio-modal modal fade" id="popup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="font-black">Ready to turn these pictures into your reality? </h2>
                         
                            <p>Click below to scout out the best flight and hotel package at the best prices for {{place}}.</p>
                            <p>{{ lowest_price }}</p>
                            <p>{{ average_savings }}</p>
                             <a href="https://www.priceline.com/fly/#/search/JFK-SFO-20151108/1?input-arm-key=3E4B050A404B050A6sDzR9Q%3DmEufuov37AdClA5317&slice1-alts=LGA:EWR:SWF:HPN:ISP-SJC:OAK&country-code=US&v=ALLOW" class="btn">Continue</a>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function openModal() {
            var jbox = new jBox('Modal', {
                attach: $('#myModal'),
                width: 300,
                height: 300,
                title: 'Book your trip to {{place}}!',
                overlay: false,
                content: '<p>{{ lowest_price }}</p><p>{{ average_savings }}</p><button type=&quot;button&quot; class=&quot;btn btn-default btn-lg&quot;',
                draggable: 'title'
            });
            jbox.open();
        }

    </script>
</body>
</html>
