<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Collage</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/collage.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/transitions.css') }}" media="all" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='css/bootstrap.css') }}" media="all" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://code.jboxcdn.com/0.3.2/jBox.min.js"></script>
    <link href="http://code.jboxcdn.com/0.3.2/jBox.css" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.collagePlus.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.removeWhitespace.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.collageCaption.js') }}"></script>
  
    <script type="text/javascript">

    // All images need to be loaded for this plugin to work so
    // we end up waiting for the whole window to load in this example
    $(window).load(function () {
        $(document).ready(function(){
            collage();
            $('.Collage').collageCaption();
        });
    });


    // Here we apply the actual CollagePlus plugin
    function collage() {
        $('.Collage').removeWhitespace().collagePlus(
            {
                'fadeSpeed'     : 2000,
                'targetHeight'  : 200,
                'effect'        : 'effect-2',
                'direction'     : 'vertical',
                'allowPartialLastRow':true
            }
        );
    };

    // This is just for the case that the browser window is resized
    var resizeTimer = null;
    $(window).bind('resize', function() {
        // hide all the images until we resize them
        $('.Collage .Image_Wrapper').css("opacity", 0);
        // set a timer to re-apply the plugin
        if (resizeTimer) clearTimeout(resizeTimer);
        resizeTimer = setTimeout(collage, 200);
    });

    </script>
</head>
<body>
<section class="Collage effect-parent">

    <!--Change urls to instagram-->
    {% for post in photos_display %}
    <div class="Image_Wrapper" data-caption="Interested?"><a>
     <a href="#popup" class="portfolio-link" data-toggle="modal">
     <img src="{{post.standard_resolution.url}}"></a>
     <</div>
    </a>
    {% endfor %}

    <!--This is for tumblr
    {% for post in photos_tumblr.response[0].photos[0].original_size.url %}
    <div class="Image_Wrapper" data-caption="Interested?"><a>
     <a href="#popup" class="portfolio-link" data-toggle="modal">
     <img src="{{original_size_url}}"></a>
     <</div>
    </a>
    {% endfor %}-->

    {% for photo in photos_google.responseData.results%}
    <div class="Image_Wrapper" data-caption="Interested? Click here!"><a>
     <a href="#popup" class="portfolio-link" data-toggle="modal">
     <img src="{{photo.url}}"></a>
     <</div>
    </a>
    {% endfor %}

    {% for photo in photos_google2.responseData.results%}
    <div class="Image_Wrapper" data-caption="Interested? Click here!"><a>
     <a href="#popup" class="portfolio-link" data-toggle="modal">
     <img src="{{photo.url}}"></a>
     <</div>
    </a>
    {% endfor %}
</section>

<!-- The modal pop up -->
  <div class="portfolio-modal modal fade" id="popup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="font-black">Ready to turn these pictures into your reality? </h2>
                         
                            <p>Click below to scout out the best flight and hotel package at the best prices for {{place}} using Priceline or Jetblue!</p>
                            <p>{{ lowest_price }}</p>
                            <p>{{ average_savings }}</p>
                            <a href="https://www.priceline.com/fly/#/search/JFK-{{ airport }}-20151108/1?input-arm-key=3E4B050A404B050A6sDzR9Q%3DmEufuov37AdClA5317&slice1-alts=LGA:EWR:SWF:HPN:ISP-SJC:OAK&country-code=US&v=ALLOW" class="btn ">Priceline</a>
                                <a href="https://vacations.jetblue.com/travel/arc_waiting.cfm?kid_age_3=&kid_age_2=&nav=default&kid_age_1=&kid_vacation=0&time1=0&time2=0&supplierid=&browserback=&roundtrip=true&fare_display=cash&event=LOGIN_SEARCH&origin=http%3A%2F%2Fwww.jetblue.com%2Fvacations%2Ferror%2Fsad_face_default.aspx&vac_from_field=New+York+City%2C+NY+%28JFK%29&room_gds=&hotel_room_count=0&date2=11%2F25%2F2015&vac_to_field=New+Orleans%2C+LA+%28MSY%29&air1=true&vac_adult_count=2&num_rooms=false&uniquestring=&date1=11%2F18%2F2015&room1=true&car1=false&gid=0&search=true&adults=2&serviceclass=coach&air_max_stops=3&vac_return_field=Wed%2C+Nov+25%2C+2015&infants_in_lap=0&dynamic_children=0&flight-n=flight-n-hotel&vac_infant_count=0&paninput_6=New+Orleans%2C+LA+%28MSY%29&child_age2=&car_company=&vac_departure_field=Wed%2C+Nov+18%2C+2015&paninput_5=New+York+City%2C+NY+%28JFK%29&child_age3=&area1=JFK&clear=true&child_age1=&area2={{ airport }}" class="btn ">Jetblue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function openModal() {
            var jbox = new jBox('Modal', {
                attach: $('#myModal'),
                width: 300,
                height: 300,
                title: 'Book your trip to {{place}}!',
                overlay: false,
                content: '<p>{{ lowest_price }}</p><p>{{ average_savings }}</p><button type=&quot;button&quot; class=&quot;btn btn-default btn-lg&quot;',
                draggable: 'title'
            });
            jbox.open();
        }

    </script>
</body>
</html>
